#dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    flex-shrink: 1;
  }

  .viewport {
    width: 100%;
    height: calc(100% - 22.25px - 56px - 56px);

    table {
      width: 100%;
    }


    td, th {
      width: 25%;
    }
  }

  mat-paginator {
    //flex-grow: 0;
  }
}